[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==7.0"
colorama = "*"
bcompiler-engine = {editable = true,git = "https://github.com/hammerheadlemon/bcompiler-engine",ref = "master"}
bcompiler = {editable = true,path = "."}
halo = "*"

[dev-packages]
pytest = "*"
pdbpp = "*"
flake8 = "*"
ptpython = "*"
mypy = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
